################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/**
**/obj/**
**/.vs/**
**/TestResults/**
**/coverage
**/dist/**
**/.eggs/**
**/Python/Lib/**
**/*.egg-info
**/Python/Scripts/**
**/Python/**/__pycache__/**